* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #95b8d1;
  text-align: center;
}
#game-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 8vmin;
  color: #666a86;
  background-color: #ffff;
}
#reset,#new-btn {
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #191913;
  color: white;
}
#msg{
  color: #9E2B25;
  font-size: 8vmin;
}
.msg-container{
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide{
  display: none;
}